In [29]:
import pandas as pd
import numpy as np
import requests as req
import json
from dotenv import load_dotenv
import os

In [30]:
load_dotenv()

True

In [31]:
token = os.getenv("Keytoken")

In [3]:
bnb = pd.read_csv('../2-proyecto/data/coin_BinanceCoin copia.csv', encoding = "ISO-8859-1")
#print(bnb.head())
btc = pd.read_csv('../2-proyecto/data/coin_Bitcoin copia.csv', encoding = "ISO-8859-1")
btc.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.0,1.603769e+09
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.0,1.542813e+09
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.0,1.298955e+09
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.0,1.168517e+09
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.0,1.085995e+09

In [4]:
apiurl = 'https://quandl1.p.rapidapi.com/databases/WIKI.json'

In [5]:

url = "https://quandl1.p.rapidapi.com/databases/WIKI.csv"

headers = {
    'x-rapidapi-host': "quandl1.p.rapidapi.com",
    'x-rapidapi-key': "c1c6197e7cmsh605d60948cf2ba6p182ce2jsn43b3d21f576b"
    }

miapi = req.request("GET", url, headers=headers)

print(response.text)

NameError: name 'response' is not defined

In [48]:
miapi.content

b'id,name,database_code,description,datasets_count,downloads,premium,image,favorite,url_name,exclusive\n4922,Wiki EOD Stock Prices,WIKI,"End of day stock prices, dividends and splits for 3,000 US companies, curated by the Quandl community and released into the public domain.",3199,1490994074,false,https://quandl-production-data-upload.s3.amazonaws.com/uploads/source/profile_image/4922/thumb_thumb_quandl-open-data-logo.jpg,false,wiki-eod-stock-prices,false\n'

In [6]:
miapi.headers

{'Access-Control-Allow-Credentials': 'true', 'Access-Control-Allow-Headers': '*', 'Access-Control-Allow-Methods': 'GET, POST, OPTIONS', 'Access-Control-Allow-Origin': '*', 'Access-Control-Expose-Headers': 'X-RateLimit-Limit, X-RateLimit-Remaining', 'Access-Control-Max-Age': '1728000', 'Allow': 'GET, HEAD, POST, PUT, DELETE, OPTIONS, PATCH', 'Cache-Control': 'no-store', 'Content-Encoding': 'gzip', 'Content-Security-Policy': "frame-ancestors 'self';", 'Content-Type': 'text/csv; charset=utf-8', 'Date': 'Sun, 07 Nov 2021 12:22:20 GMT', 'ETag': 'W/"0389aba35d777cc3451cb0fdea864888"', 'Pragma': 'no-cache', 'Referrer-Policy': 'origin-when-cross-origin', 'Server': 'RapidAPI-1.2.8', 'Set-Cookie': 'visid_incap_2261005=8dGxvNubQ+OCVyUpPUf0aPvEh2EAAAAAQUIPAAAAAACrmAFiWAXCZnGhRcljy1ng; expires=Mon, 07 Nov 2022 08:36:25 GMT; HttpOnly; path=/; Domain=.quandl.com; Secure; SameSite=None, nlbi_2261005=l1dKbZUg+j8McwgIgSMXTwAAAAD1kWqQxfeeUdIjCywLSGr9; path=/; Domain=.quandl.com; Secure; SameSite=None, incap_ses_7228_2261005=yU/LfvCbzmeA6EmM9QNPZPzEh2EAAAAAj2wOvbm1y2Bi3T6aPHijkA==; path=/; Domain=.quandl.com; Secure; SameSite=None', 'Strict-Transport-Security': 'max-age=31536000; includeSubDomains; preload', 'X-CDN': 'Imperva', 'X-Content-Type-Options': 'nosniff', 'X-Frame-Options': 'SAMEORIGIN', 'X-Iinfo': '10-46154151-46154152 NNYN CT(87 213 0) RT(1636287739768 5) q(0 0 3 0) r(5 5) U2', 'X-RapidAPI-Region': 'AWS - eu-central-1', 'X-RapidAPI-Version': '1.2.8', 'X-RateLimit-Limit': '50000', 'X-RateLimit-Remaining': '49999', 'X-Request-Id': '7efe7685-f550-439b-9354-1ba3b426a91a', 'X-Runtime': '0.064594', 'X-XSS-Protection': '1; mode=block', 'Content-Length': '326', 'Connection': 'keep-alive'}

In [24]:
df = pd.concat([btc,bnb])
df.drop(columns = 'Name', inplace = True)
df.set_index('SNo', inplace = True)

In [25]:
df.head()

,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
SNo,,,,,,,,
1,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.0,1.603769e+09
2,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.0,1.542813e+09
3,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.0,1.298955e+09
4,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.0,1.168517e+09
5,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.0,1.085995e+09

In [26]:
fecha = []
for i in df.Date:
    fecha.append(i.split()[0])
año = []
mes = []
dia = []
for i in fecha:
    año.append(i.split('-')[0])
    mes.append(i.split('-')[1])
    dia.append(i.split('-')[2])
df['Año'] = año
df['Mes'] = mes
df['Dia'] = dia 
df.drop(columns = 'Date', inplace = True)
df.head()

,Symbol,High,Low,Open,Close,Volume,Marketcap,Año,Mes,Dia
SNo,,,,,,,,,,
1,BTC,147.488007,134.000000,134.444000,144.539993,0.0,1.603769e+09,2013,04,29
2,BTC,146.929993,134.050003,144.000000,139.000000,0.0,1.542813e+09,2013,04,30
3,BTC,139.889999,107.720001,139.000000,116.989998,0.0,1.298955e+09,2013,05,01
4,BTC,125.599998,92.281898,116.379997,105.209999,0.0,1.168517e+09,2013,05,02
5,BTC,108.127998,79.099998,106.250000,97.750000,0.0,1.085995e+09,2013,05,03

In [27]:
df.Año.unique()

array(['2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021'], dtype=object)

In [53]:
other_api = f'https://api.polygon.io/v2/aggs/ticker/AAPL/range/1/day/2020-06-01/2020-06-17?apiKey={token}'

In [60]:
otherapi = req.get(other_api).json()

In [59]:
otherapi

b'{"ticker":"AAPL","queryCount":13,"resultsCount":13,"adjusted":true,"results":[{"v":8.1000752e+07,"vw":80.2125,"o":79.4375,"c":80.4625,"h":80.5875,"l":79.3025,"t":1590984000000,"n":231707},{"v":8.7642632e+07,"vw":80.3801,"o":80.1863,"c":80.835,"h":80.86,"l":79.7325,"t":1591070400000,"n":226248},{"v":1.04490584e+08,"vw":81.084,"o":81.165,"c":81.28,"h":81.55,"l":80.575,"t":1591156800000,"n":258867},{"v":8.7560364e+07,"vw":80.8328,"o":81.0975,"c":80.58,"h":81.405,"l":80.195,"t":1591243200000,"n":237171},{"v":1.37248048e+08,"vw":82.2786,"o":80.8375,"c":82.875,"h":82.9375,"l":80.8075,"t":1591329600000,"n":351615},{"v":9.56509e+07,"vw":82.7662,"o":82.5625,"c":83.365,"h":83.4,"l":81.83,"t":1591588800000,"n":261203},{"v":1.47712228e+08,"vw":85.3634,"o":83.035,"c":85.9975,"h":86.4025,"l":83.0025,"t":1591675200000,"n":402768},{"v":1.6664698e+08,"vw":87.8736,"o":86.975,"c":88.21,"h":88.6925,"l":86.5225,"t":1591761600000,"n":449782},{"v":2.01659684e+08,"vw":85.7741,"o":87.3275,"c":83.975,"h":87.765,"l":83.87,"t":1591848000000,"n":577299},{"v":2.00145124e+08,"vw":85.0132,"o":86.18,"c":84.7,"h":86.95,"l":83.5558,"t":1591934400000,"n":514308},{"v":1.3880872e+08,"vw":84.8782,"o":83.3125,"c":85.7475,"h":86.42,"l":83.145,"t":1592193600000,"n":368615},{"v":1.65428728e+08,"vw":87.7181,"o":87.865,"c":88.02,"h":88.3,"l":86.18,"t":1592280000000,"n":446656},{"v":1.14388504e+08,"vw":88.4283,"o":88.7875,"c":87.8975,"h":88.85,"l":87.7725,"t":1592366400000,"n":321829}],"status":"OK","request_id":"9a0c954048ddad030d3749bcdc73a806","count":13}'

In [39]:
api2 = pd.DataFrame.from_dict(otherapi)

In [40]:
api2.head()

,ticker,queryCount,resultsCount,adjusted,results,status,request_id,count
0,AAPL,13,13,True,"{'v': 81000752.0, 'vw': 80.2125, 'o': 79.4375,...",OK,ef9579f80ec1770eabfcc42b21e29799,13
1,AAPL,13,13,True,"{'v': 87642632.0, 'vw': 80.3801, 'o': 80.1863,...",OK,ef9579f80ec1770eabfcc42b21e29799,13
2,AAPL,13,13,True,"{'v': 104490584.0, 'vw': 81.084, 'o': 81.165, ...",OK,ef9579f80ec1770eabfcc42b21e29799,13
3,AAPL,13,13,True,"{'v': 87560364.0, 'vw': 80.8328, 'o': 81.0975,...",OK,ef9579f80ec1770eabfcc42b21e29799,13
4,AAPL,13,13,True,"{'v': 137248048.0, 'vw': 82.2786, 'o': 80.8375...",OK,ef9579f80ec1770eabfcc42b21e29799,13

In [63]:
btc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2991 entries, 0 to 2990
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   SNo        2991 non-null   int64
 1   Name       2991 non-null   object
 2   Symbol     2991 non-null   object
 3   Date       2991 non-null   object
 4   High       2991 non-null   float64
 5   Low        2991 non-null   float64
 6   Open       2991 non-null   float64
 7   Close      2991 non-null   float64
 8   Volume     2991 non-null   float64
 9   Marketcap  2991 non-null   float64
dtypes: float64(6), int64(1), object(3)
memory usage: 233.8+ KB