In [87]:
import pandas as pd
import numpy as np
import requests as req
import json
from dotenv import load_dotenv
import os
from bs4 import BeautifulSoup

In [88]:
load_dotenv()
token = os.getenv("Keytoken")

In [89]:
btc = pd.read_csv('../2-proyecto/data/coin_Bitcoin copia.csv', encoding = "ISO-8859-1")
btc.head()

,SNo,Name,Symbol,Date,High,Low,Open,Close,Volume,Marketcap
0,1,Bitcoin,BTC,2013-04-29 23:59:59,147.488007,134.000000,134.444000,144.539993,0.0,1.603769e+09
1,2,Bitcoin,BTC,2013-04-30 23:59:59,146.929993,134.050003,144.000000,139.000000,0.0,1.542813e+09
2,3,Bitcoin,BTC,2013-05-01 23:59:59,139.889999,107.720001,139.000000,116.989998,0.0,1.298955e+09
3,4,Bitcoin,BTC,2013-05-02 23:59:59,125.599998,92.281898,116.379997,105.209999,0.0,1.168517e+09
4,5,Bitcoin,BTC,2013-05-03 23:59:59,108.127998,79.099998,106.250000,97.750000,0.0,1.085995e+09

In [90]:
btc.drop(columns = 'Name', inplace = True)
btc.set_index('SNo', inplace = True)

In [91]:
fecha = []
for i in btc.Date:
    fecha.append(i.split()[0])
año = []
mes = []
dia = []
for i in fecha:
    año.append(i.split('-')[0])
    mes.append(i.split('-')[1])
    dia.append(i.split('-')[2])
btc['Año'] = año
btc['Mes'] = mes
btc['Dia'] = dia 
btc.drop(columns = 'Date', inplace = True)
#btc.head()

In [92]:
btc.Año.unique()

array(['2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020',
       '2021'], dtype=object)

In [93]:
url = 'https://es.finance.yahoo.com/quote/%5ENDX/history?period1=1446940800&period2=1636329600&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true'
url2 = 'https://es.finance.yahoo.com/quote/%5ENDX/history?period1=1446940800&period2=1623888000&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true'
url3 = 'https://es.finance.yahoo.com/quote/%5ENDX/history?period1=1446940800&period2=1611532800&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true'
url4 = 'https://es.finance.yahoo.com/quote/%5ENDX/history?period1=1446940800&period2=1598832000&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true'
url5 = 'https://es.finance.yahoo.com/quote/%5ENDX/history?period1=1446940800&period2=1586304000&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true'
url6 = 'https://es.finance.yahoo.com/quote/%5ENDX/history?period1=1446940800&period2=1573603200&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true'
url7 = 'https://es.finance.yahoo.com/quote/%5ENDX/history?period1=1446940800&period2=1561334400&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true'

In [94]:
hdr = {'User-Agent': 'Mozilla/5.0'}
response = req.get(url,headers=hdr)
response2 = req.get(url2,headers=hdr)
response3 = req.get(url3,headers=hdr)
response4 = req.get(url4,headers=hdr)
response5 = req.get(url5,headers = hdr)
response6 = req.get(url6,headers = hdr)
response7 = req.get(url7,headers = hdr)

In [95]:
soup = BeautifulSoup(response.content, "html.parser")
soup2 = BeautifulSoup(response2.content, "html.parser")
soup3 = BeautifulSoup(response3.content, "html.parser")
soup4 = BeautifulSoup(response4.content, "html.parser")
soup5 = BeautifulSoup(response5.content, "html.parser")
soup6 = BeautifulSoup(response6.content, "html.parser")
soup7 = BeautifulSoup(response7.content, "html.parser")

In [96]:
datitos = []
for row in soup.find_all("td", {"class":"Py(10px) Pstart(10px)"}):
    datitos.append(row.getText())
print(len(datitos))

600

In [97]:
#cojo todos los datos que me interesan para mi segundo dataset 
dat2 = []
for row in soup2.find_all("td", {"class":"Py(10px) Pstart(10px)"}):
    dat2.append(row.getText())
print(len(dat2))

600

In [98]:
#cojo todos los datos que me interesan para mi tercer dataset 
dat3 = []
for row in soup3.find_all("td", {"class":"Py(10px) Pstart(10px)"}):
    dat3.append(row.getText())
print(len(dat3))

600

In [99]:
#cojo todos los datos que me interesan para mi cuarto dataset 
dat4 = []
for row in soup4.find_all("td", {"class":"Py(10px) Pstart(10px)"}):
    dat4.append(row.getText())
print(len(dat4))

600

In [100]:
#cojo todos los datos que me interesan para mi quinto dataset 
dat5 = []
for row in soup5.find_all("td", {"class":"Py(10px) Pstart(10px)"}):
    dat5.append(row.getText())
print(len(dat5))

600

In [101]:
#cojo todos los datos que me interesan para mi sexto dataset 
dat6 = []
for row in soup6.find_all("td", {"class":"Py(10px) Pstart(10px)"}):
    dat6.append(row.getText())
print(len(dat6))

600

In [102]:
#cojo todos los datos que me interesan para mi septimo dataset 
dat7 = []
for row in soup7.find_all("td", {"class":"Py(10px) Pstart(10px)"}):
    dat7.append(row.getText())
print(len(dat7))

600

In [103]:
fechas = []
for row in soup.find_all("td", {"class": "Py(10px) Ta(start) Pend(10px)"}):
    fechas.append(row.getText())
print(len(fechas))

100

In [104]:
fec2 = []
for row in soup2.find_all("td", {"class": "Py(10px) Ta(start) Pend(10px)"}):
    fec2.append(row.getText())
print(len(fec2))

100

In [105]:
fec3 = []
for row in soup3.find_all("td", {"class": "Py(10px) Ta(start) Pend(10px)"}):
    fec3.append(row.getText())
print(len(fec3))

100

In [106]:
fec4 = []
for row in soup4.find_all("td", {"class": "Py(10px) Ta(start) Pend(10px)"}):
    fec4.append(row.getText())
print(len(fec4))

100

In [107]:
fec5 = []
for row in soup5.find_all("td", {"class": "Py(10px) Ta(start) Pend(10px)"}):
    fec5.append(row.getText())
print(len(fec5))

100

In [108]:
fec6 = []
for row in soup6.find_all("td", {"class": "Py(10px) Ta(start) Pend(10px)"}):
    fec6.append(row.getText())
print(len(fec6))

100

In [109]:
fec7 = []
for row in soup7.find_all("td", {"class": "Py(10px) Ta(start) Pend(10px)"}):
    fec7.append(row.getText())
print(len(fec7))

100

In [110]:
pentrada = []
for i in datitos[::6]:
    pentrada.append(i)  
print(len(pentrada))

100

In [111]:
#Precio entrada para mi segundo dataset de nasdaq
pe2 = []
for i in dat2[::6]:
    pe2.append(i)  
print(len(pe2))

100

In [112]:
#Precio entrada para mi tercer dataset de nasdaq
pe3 = []
for i in dat3[::6]:
    pe3.append(i)  
print(len(pe3))

100

In [113]:
#Precio entrada para mi cuarto dataset de nasdaq
pe4 = []
for i in dat4[::6]:
    pe4.append(i)  
print(len(pe4))

100

In [114]:
#Precio entrada para mi quinto dataset de nasdaq
pe5 = []
for i in dat5[::6]:
    pe5.append(i)  
print(len(pe5))

100

In [115]:
#Precio entrada para mi sexto dataset de nasdaq
pe6 = []
for i in dat6[::6]:
    pe6.append(i)  
print(len(pe6))

100

In [116]:
#Precio entrada para mi septimo dataset de nasdaq
pe7 = []
for i in dat7[::6]:
    pe7.append(i)  
print(len(pe7))

100

In [117]:
pcierre = []
for i in datitos[3::6]:
    pcierre.append(i)
print(len(pcierre))

100

In [118]:
#Precio de cierre para mi segundo dataset de nasdaq
pc2 = []
for i in dat2[3::6]:
    pc2.append(i)
print(len(pc2))

100

In [119]:
#Precio de cierre para mi tercer dataset de nasdaq
pc3 = []
for i in dat3[3::6]:
    pc3.append(i)
print(len(pc3))

100

In [120]:
#Precio de cierre para mi cuarto dataset de nasdaq
pc4 = []
for i in dat4[3::6]:
    pc4.append(i)
print(len(pc4))

100

In [121]:
#Precio de cierre para mi quinto dataset de nasdaq
pc5 = []
for i in dat5[3::6]:
    pc5.append(i)
print(len(pc5))

100

In [122]:
#Precio de cierre para mi sexto dataset de nasdaq
pc6 = []
for i in dat6[3::6]:
    pc6.append(i)
print(len(pc6))

100

In [123]:
#Precio de cierre para mi septimo dataset de nasdaq
pc7 = []
for i in dat7[3::6]:
    pc7.append(i)
print(len(pc7))

100

In [124]:
pmax = []
for i in datitos[1::6]:
    pmax.append(i)
print(len(pmax))

100

In [125]:
#Pmax para mi segundo dataset de nasdaq
pmax2 = []
for i in dat2[1::6]:
    pmax2.append(i)
print(len(pmax2))

100

In [126]:
#Pmax para mi tercer dataset de nasdaq
pmax3 = []
for i in dat3[1::6]:
    pmax3.append(i)
print(len(pmax3))

100

In [127]:
#Pmax para mi cuarto dataset de nasdaq
pmax4 = []
for i in dat4[1::6]:
    pmax4.append(i)
print(len(pmax4))

100

In [128]:
#Pmax para mi quinto dataset de nasdaq
pmax5 = []
for i in dat5[1::6]:
    pmax5.append(i)
print(len(pmax5))

100

In [129]:
#Pmax para mi sexto dataset de nasdaq
pmax6 = []
for i in dat6[1::6]:
    pmax6.append(i)
print(len(pmax6))

100

In [130]:
#Pmax para mi septimo dataset de nasdaq
pmax7 = []
for i in dat7[1::6]:
    pmax7.append(i)
print(len(pmax7))

100

In [131]:
volumen = []
for i in datitos[5::6]:
    volumen.append(i)
print(len(volumen))

100

In [132]:
#Volumen para mi segundo dataset de nasdaq
vol2 = []
for i in dat2[5::6]:
    vol2.append(i)
print(len(vol2))

100

In [133]:
#Volumen para mi tercer dataset de nasdaq
vol3 = []
for i in dat3[5::6]:
    vol3.append(i)
print(len(vol3))

100

In [134]:
#Volumen para mi cuarto dataset de nasdaq
vol4 = []
for i in dat4[5::6]:
    vol4.append(i)
print(len(vol4))

100

In [135]:
#Volumen para mi quinto dataset de nasdaq
vol5 = []
for i in dat5[5::6]:
    vol5.append(i)
print(len(vol5))

100

In [136]:
#Volumen para mi sexto dataset de nasdaq
vol6 = []
for i in dat6[5::6]:
    vol6.append(i)
print(len(vol6))

100

In [137]:
#Volumen para mi septimo dataset de nasdaq
vol7 = []
for i in dat7[5::6]:
    vol7.append(i)
print(len(vol7))

100

In [138]:
datos = list(zip(fechas,pentrada,pcierre,pmax,volumen))
dat = list(zip(fec2,pe2,pc2,pmax2,vol2))
datin = list(zip(fec3,pe3,pc3,pmax3,vol3))
dataton = list(zip(fec4,pe4,pc4,pmax4,vol4))
dats = list(zip(fec5,pe5,pc5,pmax5,vol5))
dato = list(zip(fec6,pe6,pc6,pmax6,vol6))
dats = list(zip(fec7,pe7,pc7,pmax7,vol7))

In [139]:
nasdaq = pd.DataFrame(datos)
nasdaq.columns = ['Fecha_NASDAQ','Aper_NASDAQ','Cier_NASDAQ','Max_NASDAQ','Vol_NASDAQ']
nas = pd.DataFrame(dat)
nas.columns = ['Fecha_NASDAQ','Aper_NASDAQ','Cier_NASDAQ','Max_NASDAQ','Vol_NASDAQ']
nasin = pd.DataFrame(datin)
nasin.columns = ['Fecha_NASDAQ','Aper_NASDAQ','Cier_NASDAQ','Max_NASDAQ','Vol_NASDAQ']
nasdan = pd.DataFrame(dataton)
nasdan.columns = ['Fecha_NASDAQ','Aper_NASDAQ','Cier_NASDAQ','Max_NASDAQ','Vol_NASDAQ']
nasdatin = pd.DataFrame(dats)
nasdatin.columns = ['Fecha_NASDAQ','Aper_NASDAQ','Cier_NASDAQ','Max_NASDAQ','Vol_NASDAQ']
nasgul = pd.DataFrame(dato)
nasgul.columns = ['Fecha_NASDAQ','Aper_NASDAQ','Cier_NASDAQ','Max_NASDAQ','Vol_NASDAQ']
nasult = pd.DataFrame(dats)
nasult.columns = ['Fecha_NASDAQ','Aper_NASDAQ','Cier_NASDAQ','Max_NASDAQ','Vol_NASDAQ']

In [140]:
Nasdaq = pd.concat([nasdaq,nas,nasin,nasdan,nasdatin,nasgul,nasult], sort= False)

In [141]:
fecha = []
for i in Nasdaq.Fecha_NASDAQ:
    fecha.append(i.split(' '))
año = []
mes = []
dia = []
for i in fecha:
    año.append(i[2])
    mes.append(i[1])
    dia.append(i[0])
Nasdaq['Año_NASDAQ'] = año
Nasdaq['Mes_NASDAQ1'] = mes
Nasdaq['Dia_NASDAQ'] = dia

In [142]:
def cambia(j):
    '''
    La funcion recibe una lista de string que dependiendo que string es lo tiene que cambiar por un numero.
    param : columna de strings
    return: devuelve una lista con los numeros correspondientes
    return quiero que solo cambie dichos strings
    '''

    if j == 'nov':
        return 11
    elif j == 'oct':
        return 10
    elif j == 'sept':
         return 9
    elif j == 'ago':
        return 8
    elif j == 'jul':
        return 7
    elif j == 'jun':
        return 6
    elif j == 'may':
        return 5
    elif j == 'abr':
        return 4
    elif j == 'mar':
        return 3
    elif j == 'feb':
        return 2
    elif j == 'ene':
        return 1
    elif j == 'dic':
        return 12

In [143]:
Nasdaq['Mes_NASDAQ'] = Nasdaq.Mes_NASDAQ1.apply(cambia)

In [144]:
Nasdaq.Mes_NASDAQ.unique()

array([11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1, 12])

In [145]:
Nasdaq.reset_index(drop = True, inplace = True)

In [146]:
Nasdaq.drop(columns = 'Mes_NASDAQ1', inplace = True)

In [147]:
Nasdaq.tail()

,Fecha_NASDAQ,Aper_NASDAQ,Cier_NASDAQ,Max_NASDAQ,Vol_NASDAQ,Año_NASDAQ,Dia_NASDAQ,Mes_NASDAQ
695,05 feb 2019,"6969,37","7023,52","7029,77",2.265.520.000,2019,05,2
696,04 feb 2019,"6876,56","6959,96","6960,97",2.099.470.000,2019,04,2
697,01 feb 2019,"6872,73","6875,52","6921,95",2.383.430.000,2019,01,2
698,31 ene 2019,"6840,93","6906,84","6936,34",2.918.710.000,2019,31,1
699,30 ene 2019,"6708,56","6807,91","6826,92",2.544.050.000,2019,30,1

In [152]:
btc.head()

,Symbol,High,Low,Open,Close,Volume,Marketcap,Año,Mes,Dia
SNo,,,,,,,,,,
1,BTC,147.488007,134.000000,134.444000,144.539993,0.0,1.603769e+09,2013,04,29
2,BTC,146.929993,134.050003,144.000000,139.000000,0.0,1.542813e+09,2013,04,30
3,BTC,139.889999,107.720001,139.000000,116.989998,0.0,1.298955e+09,2013,05,01
4,BTC,125.599998,92.281898,116.379997,105.209999,0.0,1.168517e+09,2013,05,02
5,BTC,108.127998,79.099998,106.250000,97.750000,0.0,1.085995e+09,2013,05,03

In [171]:
btc.drop(btc[btc['Año']<'2019'].index, inplace = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 918 entries, 2074 to 2991
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Symbol     918 non-null    object
 1   High       918 non-null    float64
 2   Low        918 non-null    float64
 3   Open       918 non-null    float64
 4   Close      918 non-null    float64
 5   Volume     918 non-null    float64
 6   Marketcap  918 non-null    float64
 7   Año        918 non-null    object
 8   Mes        918 non-null    object
 9   Dia        918 non-null    object
dtypes: float64(6), object(4)
memory usage: 111.2+ KB

In [172]:
btc.Año.unique()

array(['2019', '2020', '2021'], dtype=object)

In [151]:
Nasdaq.sort_values(['Año_NASDAQ','Mes_NASDAQ','Dia_NASDAQ'], ascending = True)

,Fecha_NASDAQ,Aper_NASDAQ,Cier_NASDAQ,Max_NASDAQ,Vol_NASDAQ,Año_NASDAQ,Dia_NASDAQ,Mes_NASDAQ
499,30 ene 2019,"6708,56","6807,91","6826,92",2.544.050.000,2019,30,1
699,30 ene 2019,"6708,56","6807,91","6826,92",2.544.050.000,2019,30,1
498,31 ene 2019,"6840,93","6906,84","6936,34",2.918.710.000,2019,31,1
698,31 ene 2019,"6840,93","6906,84","6936,34",2.918.710.000,2019,31,1
497,01 feb 2019,"6872,73","6875,52","6921,95",2.383.430.000,2019,01,2
...,...,...,...,...,...,...,...,...
4,01 nov 2021,"15.879,61","15.905,28","15.910,35",5.239.250.000,2021,01,11
3,02 nov 2021,"15.885,34","15.972,49","15.988,33",5.118.540.000,2021,02,11
2,03 nov 2021,"16.000,60","16.144,50","16.157,60",5.274.520.000,2021,03,11
1,04 nov 2021,"16.193,22","16.346,24","16.387,95",5.252.570.000,2021,04,11
0,05 nov 2021,"16.397,59","16.359,38","16.454,48",5.534.130.000,2021,05,11

In [173]:
df = pd.concat([btc,Nasdaq],sort = False)

In [176]:
df.reset_index()

,index,Symbol,High,Low,Open,Close,Volume,Marketcap,Año,Mes,Dia,Fecha_NASDAQ,Aper_NASDAQ,Cier_NASDAQ,Max_NASDAQ,Vol_NASDAQ,Año_NASDAQ,Dia_NASDAQ,Mes_NASDAQ
0,2074,BTC,3850.913765,3707.231303,3746.713387,3843.519967,4.324201e+09,6.709863e+10,2019,01,01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2075,BTC,3947.981273,3817.409496,3849.216409,3943.409337,5.244857e+09,6.884986e+10,2019,01,02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2076,BTC,3935.685131,3826.222871,3931.048638,3836.741319,4.530215e+09,6.699492e+10,2019,01,03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2077,BTC,3865.934532,3783.853665,3832.039968,3857.717619,4.847965e+09,6.736833e+10,2019,01,04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2078,BTC,3904.903096,3836.900126,3851.973965,3845.194460,5.137610e+09,6.715757e+10,2019,01,05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1613,695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05 feb 2019,"6969,37","7023,52","7029,77",2.265.520.000,2019,05,2.0
1614,696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04 feb 2019,"6876,56","6959,96","6960,97",2.099.470.000,2019,04,2.0
1615,697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01 feb 2019,"6872,73","6875,52","6921,95",2.383.430.000,2019,01,2.0
1616,698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31 ene 2019,"6840,93","6906,84","6936,34",2.918.710.000,2019,31,1.0
1617,699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30 ene 2019,"6708,56","6807,91","6826,92",2.544.050.000,2019,30,1.0